@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Welcome Message</h3>

<p>We are the Shotgun Academy! The goal of this group is to establish a rage-free community, that allows players of all levels to come together and help each other improve their 
    skill in the current shotgun meta. Having trouble against those pesky shotgun warriors? Or perhaps you find yourself trying to be one(just stop). 
    </p>
<p>We have mentors to help you with your loadout, what skills you should focus on first, and finally your teamwork. 
    This community is just getting starting and expanding rapidly and with your help we will only improve and get larger. 
    We would love to have you join our ranks, and look forward to meeting you. Head over to recruitment to join up!</p>

<h3>Methods</h3>
<p>
    We will go over your loadout, what weapons you have, and what weapons you should give a try. While you do not have to use “meta weapons” you should 
    keep in mind that they have become so for a reason. There are certain weapons that will just win in this current meta. Just keep in mind if you want to use a different weapon, 
    you will have to offset that gap with pure skill. 
</p>
<p>Our next goal is to find your strengths. Let us build on those, and bring the weaknesses up to par. 
    We can pinpoint where you need work and give you tips on how to improve them. One thing everyone needs to do is “Win your 1s”. 
    When it is you and the other guy, you need to make sure to win. In this situation your primary is your best friend. You are a Primary Shot first, and a shotgunner second.
</p>
<p>
    Our final goal is to get your communication and teamwork up. We will run practice scrimmages to help with proper callouts, 
    and provide you with map callouts as well as what makes a good callout. We will hold these weekly and they avaliable to everyone. 
    Our goal here is to help you get to the lighthouse by your own gun. No more hitting up Lumi for a carry. 
</p>