@{
    ViewData["Title"] = "Contact";
}
<h3>&nbsp;</h3>
<h2>@ViewData["Title"]</h2>
<p>
    Have any questions? Not sure if Shotgun Academy is for you?     
</p>
<p>Maybe you want to partner your clan with us for Crucible Training.</p>
<address>
    <strong>Email us at:</strong> <a href="mailto:shotgunacademydestiny@gmail.com">shotgunacademydestiny@gmail.com</a><br />    
</address>
