<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Shotgun Academy - Become PVP Elite</title>
    <meta name="description" content="Join hundreds of players in the quest to people an elite crucible player." />
    <meta name="keywords" content="shotgunacademy, destiny, crucible, pvp, fps, montage" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/SGA_100x100.png" />
    <link rel="icon" type="image/png" href="images/SGA_100x100.png" />
    <link rel="apple-touch-icon" href="images/SGA_100x100.png" />

    <!-- Css -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/plugins/animate.css" rel="stylesheet" type="text/css" />
    <!-- SLIDER REVOLUTION CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

</head>
<body>

    <!-- Site preloader -->
    <section id="preloader">
        <div class="site-spinner"></div>
    </section>
    <!-- End Site preloader -->
    <!-- Page Wraper -->
    <div id="page-wraper">
        <div class="wrapper">
            <div id="header" class="header">
                <div class="header-inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <img src="images/SGA_100x100.png" />
                        </a>
                    </div>
                    <!-- End Logo -->
                    <!--Navigation Icon-->
                    <div class="nav-menu-icon">
                        <a><i class="fa fa-bars"></i></a>
                    </div>
                    <!--End Navigation Icon-->
                    <!-- Navigation Menu -->
                    <div class="nav-menu singlepage-nav">
                        <ul class="nav-menu-inner">
                            <li><a href="#intro">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#comm-proj">Community Projects</a></li>
                            <li><a href="#clan">Clan</a></li>
	                        <li><a class="nav-external" href="https://discordapp.com/invite/RX2nThV" target="_blank">Discord</a></li>
                            <li><a class="nav-external" href="https://twitter.com/ShotgunAcademy_" target="_blank">Twitter</a></li>
                        </ul>
                    </div>
                    <!-- End Navigation Menu -->
                </div>
            </div>
            <!--Intro Section-->
            <section id="intro">
                <!--Slider Hero-->
                <div class="tp-banner-container">
                    <div class="intro-tp-banner">
                        <ul>
                            <!-- SLIDE  1-->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <img src="img/full/bg-titanemblem.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="-125"
                                     data-speed="600"
                                     data-start="500"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    SHOTGUN ACADEMY
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                   data-x="center" data-hoffset="0"
                                   data-y="center" data-voffset="40"
                                   data-speed="600"
                                   data-start="900"
                                   data-easing="Power4.easeOut"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-elementdelay="0.01"
                                   data-endelementdelay="0.1"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn"
                                   style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
	                                Join hundreds of players in the quest to become an elite crucible player. 
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="125"
                                     data-speed="600"
                                     data-start="1100"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <!--<a class="btn btn-md btn-black">Shop Now</a>-->
                                </div>

                            </li>

                            <!-- SLIDE  2-->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <img src="img/full/bg-warlockemblem.png" alt="slidebg2" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="-125"
                                     data-speed="600"
                                     data-start="500"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    MENTORS
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                   data-x="center" data-hoffset="0"
                                   data-y="center" data-voffset="40"
                                   data-speed="600"
                                   data-start="900"
                                   data-easing="Power4.easeOut"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-elementdelay="0.01"
                                   data-endelementdelay="0.1"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn"
                                   style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
	                                Access shotgun academy mentors ready to offer advice and review your gameplay.
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="125"
                                     data-speed="600"
                                     data-start="1100"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <!--<a class="btn btn-md btn-black">Shop Now</a>-->
                                </div>

                            </li>

                            <!-- SLIDE 3-->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <img src="img/full/bg-hunteremblem.png" alt="slidebg3" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="-125"
                                     data-speed="600"
                                     data-start="500"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    PVP ELITE
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                   data-x="center" data-hoffset="0"
                                   data-y="center" data-voffset="40"
                                   data-speed="600"
                                   data-start="900"
                                   data-easing="Power4.easeOut"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-elementdelay="0.01"
                                   data-endelementdelay="0.1"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn"
                                   style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
	                                Play with elite pvp players to improve your game.
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="125"
                                     data-speed="600"
                                     data-start="1100"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <!--<a class="btn btn-md btn-black">Shop Now</a>-->
                                </div>

                            </li>

                            <!-- SLIDE  4-->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <img src="img/full/bg-titanemblem.png" alt="slidebg4" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="-125"
                                     data-speed="600"
                                     data-start="500"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    COMMUNITY PROJECTS
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                   data-x="center" data-hoffset="0"
                                   data-y="center" data-voffset="40"
                                   data-speed="600"
                                   data-start="900"
                                   data-easing="Power4.easeOut"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-elementdelay="0.01"
                                   data-endelementdelay="0.1"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn"
                                   style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
	                                Satisfy the creative urge in you. Take part in community projects and montages.
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="125"
                                     data-speed="600"
                                     data-start="1100"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <!--<a class="btn btn-md btn-black">Shop Now</a>--></div>

                            </li>

                            <!-- SLIDE  -->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <img src="img/full/bg-warlockemblem.png" alt="slidebg5" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="-125"
                                     data-speed="600"
                                     data-start="500"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    SHOOTER GAMES
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                   data-x="center" data-hoffset="0"
                                   data-y="center" data-voffset="40"
                                   data-speed="600"
                                   data-start="900"
                                   data-easing="Power4.easeOut"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-elementdelay="0.01"
                                   data-endelementdelay="0.1"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn"
                                   style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
	                                Find people to play any popular shooter games.
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                     data-x="center" data-hoffset="0"
                                     data-y="center" data-voffset="125"
                                     data-speed="600"
                                     data-start="1100"
                                     data-easing="Power4.easeOut"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    
                                </div>

                            </li>


                        </ul>
                        <div class="tp-bannertimer"></div>
                    </div>
                </div>
                <!-- End Slider Hero-->

            </section>
			<!-- End Intro Section-->
			
			<hr />
			<!-- About Section -->
            <section id="about" class="section-padding text-center">
                <div class="container mb-60">
                    <h2>About <span class="text-light">Us</span></h2>
                    <p class="max-width-700 lead">Our community is made up of a diverse group of mentors, students, redditors, content creators, gun-testers and meta-breakers that have united together as brothers in arms. Our goal is to establish a community, in which players of all skill levels come together and help each other improve their skill in Destiny's Crucible.</p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                            <div class="icon-top"><i class="icon icon-basic-book-pencil"></i></div>
                            <h5 class="features-title">Mentors</h5>
                            <p>Access shotgun academy mentors ready to offer advice and review your gameplay.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                            <div class="icon-top"><i class="icon icon-basic-joypad"></i></div>
                            <h5 class="features-title">PVP Elite</h5>
                            <p>Play with elite PVP players to improve your game.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
                            <div class="icon-top"><i class="icon icon-basic-photo"></i></div>
                            <h5 class="features-title">Community Projects</h5>
                            <p>Satisfy the creative urge in you. Take part in community projects and montages.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->

            <hr />

            <!-- Videos -->
            <section id="comm-proj" class="section-padding text-center">
                <div class="container">
                    
                    <div class="container mb-60">
                        <h2>COMMUNITY <span class="text-light">PROJECTS</span></h2>
                    </div>
                                                            
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                            <div class="blog-post">
                                <div class="post-media">
                                    <iframe width="350" height="200" src="https://www.youtube.com/embed/qt0A0aVWKkg" frameborder="0" allowfullscreen></iframe>
                                </div>                                
                                <div class="post-header">
                                    <h5><a href="">The End of a Meta</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                            <div class="blog-post">
                                <div class="post-media">
                                    <iframe width="350" height="200" src="https://www.youtube.com/embed/6mecTJDX5PY" frameborder="0" allowfullscreen></iframe>
                                </div>
                                
                                <div class="post-header">
                                    <h5><a href="">Stayin Alive</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                            <div class="blog-post">
                                <div class="post-media">
                                    <iframe width="350" height="200" src="https://www.youtube.com/embed/GL8OJGpS5F8" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="post-header">
                                    <h5><a href="">Not Romantic. Too Dramatic.</a></h5>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                            <div class="blog-post">
                                <div class="post-media">
                                    <iframe width="350" height="200" src="https://www.youtube.com/embed/46Ea_URRsqw" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="post-header">
                                    <h5><a href="">Living in a Bubble</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                            <div class="blog-post">
                                <div class="post-media">
                                    <iframe width="350" height="200" src="https://www.youtube.com/embed/Y_B23ok4VMU" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="post-header">
                                    <h5><a href="">We Are Guardians. We Are Jedi.</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                            <div class="blog-post">
                                <div class="post-media">
                                    <iframe width="350" height="200" src="https://www.youtube.com/embed/ebJpeZ8lRj4" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="post-header">
                                    <h5><a href="">Wormwood sidearm</a></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- End Video Section -->
            
            <hr />
            <!-- Clan Section -->
            <section id="clan" class="section-padding text-center">
                <div class="container mb-60">
                    <h2>Clan</h2>
                    <p class="max-width-700 lead">If you do not currently have a clan or looking to join a clan, join our clan at <a href="https://www.bungie.net/en/Clan/Forum/1959678">Shotgun Academy</a>. </p>
                    <p class="max-width-700 lead"><a class="btn btn-md btn-black-line" href="https://www.bungie.net/en/Clan/Forum/1959678">Join</a></p>
                </div>
               
            </section>
            <!-- End About Section -->

            <!--Footer Section-->
            <footer id="footer" class="footer section-padding gray-bg">
                <div class="container text-center">

                    <!--Footer Logo-->
                    <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
                        <a class="scroll-top" href="#intro">
                            <img src="images/SGA_100x100.png" alt="mazel" />
                        </a>
                    </div>
                    <!--End Footer Logo-->
                  
                    <!-- Copyright -->
                    <!-- Social -->
                    <ul class="social">                       
                        <li>
                            <a href="https://twitter.com/ShotgunAcademy_" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>                      
                    </ul>
                    <!-- End Social -->

                </div>
            </footer>
            <!-- End Footer Section-->

        </div>
    </div>
    <!-- End Page Wraper -->
    <!-- Js -->
    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="js/plugins/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.fitvids.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="js/plugins/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.appear.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.countTo.js" type="text/javascript"></script>
    <script src="js/plugins/owl.carousel.min.js" type="text/javascript"></script>
    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <!-- End SLIDER REVOLUTION SCRIPTS  -->
    <script src="js/plugins/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.singlePageNav.min.js" type="text/javascript"></script>
    <script src="js/plugins/wow.min.js" type="text/javascript"></script>
    <script src="js/plugins/jquery.validate.min.js" type="text/javascript"></script>
    <script src="js/contact-form.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="js/map.js" type="text/javascript"></script>
    <script src="js/theme.js" type="text/javascript"></script>
</body>
</html>
