@{
    ViewData["Title"] = "About";
}
<h3>&nbsp;</h3>
<h2>Welcome</h2>
<p>
    Our community is made up of a diverse group of mentors, students, redditors, content creators, gun-testers and meta-breakers that have united together as brothers in arms.
    Our goal is to establish a community, in which players of all skill levels come together and help each other improve their skill in Destiny's Crucible.
</p>
<p>
    Are you a solid player that is looking to become a mentor?  Do you think you could use guidance from more advanced players?
    Are you a content generator who is looking to team up?
</p>
<h3>Our Methods</h3>
<p>
    There are no magic bullets to make you a great player overnight. Improving takes a good deal of practice and dedication. At Shotgun Academy, we aim to accelerate your rate of progress by sharing knowledge, practicing, and reviewing each other’s gameplay. We have several methodologies to encourage improvement (1v1, 3v3, communications etc.) and track your progress.
</p>
<p>
    For example, we have an internal ranking system (based on Star Wars) where developing players begin as Force Sensitive Candidates and as they reach certain milestones they level up to ranks such as Padawan, Jedi Knight and Jedi Master.  We also have a program that Shotgun Academy members can participate in, where advanced players (Jedis) can take up to 3 apprentices under their wing for more personalized training.  Additionally, we have ongoing practices (rumble, skirmish, trials) practices and internal tournaments.
</p>
<p>
    Our goal is to help you reach your maximum potential as a player by combining learning, fun, scientific analysis and an awesome community all in one neat package.  If this sounds like something you’d like to be a part of, we would love to have you join our ranks. Head over to the recruitment page to join up!
</p>
<p>
    Daniel Zan
</p>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><img src="~/images/SGA_Ranks-2.jpg" /></div>
        <div class="col-md-1">&nbsp;</div>
    </div>
</div>
