@{
    ViewData["Title"] = "Success";
}
<h3>&nbsp;</h3>
<h2>@ViewData["Title"]</h2>
<p>
    You have been successfully added to our ladders.
</p>
<p>
    Download the Discord App. <a href="https://discordapp.com">https://discordapp.com</a>
    and join our <a href="https://discord.gg/tkwzsfj">SHOTGUN ACADEMY SERVER</a>
</p>