@{
    ViewData["Title"] = "Schedule";
}
<h2>@ViewData["Title"]</h2>

<p>
    Our practice scrimmages are held weekly. If you would like access to them, please contact the mentors.

</p>

<h3>PS4</h3>
<p>
    Tuesday 9-10 EST and 11-12 EST <br/>
    Thursday 9-10 EST and 11-12 EST
</p>
<p>If these times do not work for you, please contact XiaJohan about setting up a separate time slot. We may be able to get something worked out with enough requests.
</p>


<h3>Xbox</h3>
<p>
    Scrims happen all time on Xbox. Just join our Discord and get notified when a mentor is organizing a scrim.
</p>


