@{
    ViewData["Title"] = "SGA Partners";
}
<h3>&nbsp;</h3>
<h2>@ViewData["Title"]</h2>

<h3>Mentors</h3>
<table class="table table-condensed">
    <tr>
        <td class="col-md-4">ArtofPoop</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/artofpoop">https://www.twitch.tv/artofpoop</a></td>
        <td class="col-md-4"><td>
    </tr>    
    <tr>
        <td class="col-md-4">Daffy cx</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/daffy_x">https://www.twitch.tv/daffy_x</a></td>
        <td class="col-md-4"><td>
    </tr>        
    <tr>
        <td class="col-md-4">Daniel Zan</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/danieizan">https://www.twitch.tv/danieizan</a></td>
        <td class="col-md-4"><a href="https://www.youtube.com/channel/UCj-2Hjd-zfaJ7uZVQLnVQ-A">YouTube</a><td>
    </tr>
    <tr>
        <td class="col-md-4">GDub5307</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/gdub5307">https://www.twitch.tv/gdub5307</a></td>
        <td class="col-md-4"><a href="https://www.youtube.com/channel/UCpZtuYuEUjGC0vt_ZnXEvmg">YouTube</a><td>
    </tr>
    @*<tr>
        <td class="col-md-4">Kairazy</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/kairazy">https://www.twitch.tv/kairazy</a></td>
        <td class="col-md-4"><td>
    </tr>*@
    <tr>
        <td class="col-md-4">KIjackalLL</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/kijackalll">https://www.twitch.tv/kijackalll</a></td>
        <td class="col-md-4"><td>
    </tr>    
    @*<tr>
        <td class="col-md-4">QwShots</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/QwShots">https://www.twitch.tv/QwShots</a></td>
        <td class="col-md-4"><td>
    </tr>*@
    @*<tr>
        <td class="col-md-4">River Tiberinus</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/rviveros">https://www.twitch.tv/rviveros</a></td>
        <td class="col-md-4"><td>
    </tr>*@   
    <tr>
        <td class="col-md-4">Tier One Savage</td>
        <td class="col-md-4"><a href="https://www.twitch.tv/t1_savage">https://www.twitch.tv/t1_savage</a></td>
        <td class="col-md-4"><td>
    </tr>          
</table>

<h3>Partner Clans</h3>
<table class="table table-condensed">   
    <tr>
        <td class="col-md-4"><a href="https://www.bungie.net/en/Clan/Forum/1405960">QOINS</a></td>        
    </tr>

</table>

<h3>Developers</h3>
<table class="table table-condensed">   
    <tr>
        <td class="col-md-6"><a href="https://www.youtube.com/channel/UCj-2Hjd-zfaJ7uZVQLnVQ-A">Daniel</a></td>
        <td class="col-md-6">Video Editing</td>
    </tr>
    
    <tr>
        <td class="col-md-6"><a href="https://www.twitch.tv/xiajohan">Xia Johan</a></td>
        <td class="col-md-6">Community Manager</td>
    </tr>

    <tr>
        <td class="col-md-6"><a href="https://www.reddit.com/user/jekkin_scrump">Tinizzle</a></td>
        <td class="col-md-6">Graphic Design</tr>

    <tr>
        <td class="col-md-6"><a href="https://twitter.com/sunilr">ZingBangZing</a></td>
        <td class="col-md-6">Website</td>
    </tr>
</table>

